@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
  }




h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #0a2052;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627190;
}

label, .button-text {
    color: #0a2052;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

input {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.help {
    color: #627190;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}


.info {
    color: #0a2052;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.href {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #214eb4;
}

.underlined-text {
    text-decoration: underline;
  }

.href:hover {
    color: rgb(52, 100, 212);
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.policy-text {
    color: #0a2052;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
}


.href {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media (max-width: 500px) {
    .help {
        font-size: 12px;
        line-height: 20px;
    }
    h2 {
        font-size: 14px;
        line-height: 20px;
    }
}



.pinkText {
    color: rgba(255, 125, 203, 1);
}
.greenText {
    color: rgba(88, 204, 126, 1);
}
.yellowText {
    color: rgba(255, 209, 90, 1);
}
.blueText {
    color: rgba(192, 165, 255, 1);
}